*,
*::after,
*::before {
    margin: 0;
    padding: 0;

}
body{
    background-color:white;
    
}
nav ul{
    background-color:rgba(0, 0, 0, 0.664);
    color: white;
    padding: 2rem 4rem;
    display:flex;
    justify-content:center;
    column-gap: 6rem;
    list-style: none;
    font-size: large;
    position: fixed;
    
}
h2{
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-decoration: underline;
     
}
.para1 {
    font-size:25px;
}
h1{
    text-align:center;
    text-decoration: underline;
}
.para2 {
   text-align:justify;
   width: 950px;
   height: 200px;
   overflow-y: scroll;
   background-color: rgb(163, 163, 147);
   justify-self: right;
   margin-left: 150px;
}
.para3{
    font-family: cursive;
    
}
section img {
    padding: 80px;
    margin: 2%;

}






    
 
